<%- partial('_partial/head')%>

<body>
    <%- partial('_partial/header') %>

    <%- partial('_partial/side-contact') %>
    <%- partial('_partial/side-qrcode') %>
    
    <% if(page.layout) { %>
        <%- partial(page.layout) %>
    <% } else { %>
        <%- partial('index') %>
    <% } %>

    <%- partial('_partial/footer') %>
</body>