<div id="bd">
    <div id="ban-in">
        <div class="ban-bg">
            <img src="/images/about.png" />
        </div>
    </div>
    <div class="wp" id="whous">
        <div class="tit-i">
            <h2 class="row-title"><%= page.title %></h2>
            <h5 class="row-subtitle"><%- theme.corp.nameEnglish %> <span><%= theme.layout.about.name %></span></h5>
        </div>
        <div class="about markdown content">
            <%- page.content %>
        </div>
    </div>
    <div class="container-fluid corp" style="background: url(../images/bg_2.png) center top no-repeat;">
        <h2 class="row-title" style="color: white;"><%= theme.corp.samples %></h2>
        <h5 class="row-subtitle"><span>SERVICE</span> OF KUANHENG</h5>
        <div class="row">
            <div class="kh-samples col-sm-3">
                <img src="<%- url_for(theme.index.cases[0].image) %>"></img>
            </div>
            <div class="kh-samples col-sm-3">
                <img src="<%- url_for(theme.index.cases[1].image) %>"></img>
            </div>
            <div class="kh-samples col-sm-3">
                <img src="<%- url_for(theme.index.cases[2].image) %>"></img>
            </div>
            <div class="kh-samples col-sm-3">
                <img src="<%- url_for(theme.index.cases[3].image) %>"></img>
            </div>
        </div>
        <div class="row">
            <div class="kh-samples col-sm-3">
                <img src="<%- url_for(theme.index.cases[4].image) %>"></img>
            </div>
            <div class="kh-samples col-sm-3">
                <img src="<%- url_for(theme.index.cases[5].image) %>"></img>
            </div>
            <div class="kh-samples col-sm-3">
                <img src="<%- url_for(theme.index.cases[6].image) %>"></img>
            </div>
            <div class="kh-samples col-sm-3">
                <img src="<%- url_for(theme.index.cases[7].image) %>"></img>
            </div>
        </div>
    </div>
    <div class="tit-i">
        <h3>联系我们</h3>
        <h5><span>contact</span> webthink</h5>
    </div>
    <div class="contact-l">
        <ul class="ul-contact">
            <li class="li1">北京市朝阳区建国路88号SOHO现代城6#3208</li>
            <li class="li2"><a href="tel:010-51265006">010-51265006 (咨询) / <a href="tel:010-52459737">52459737 (售后)<br /><a href="tel:400-008-0408">400-008-0408 (咨询)</a><br /><a href="tel:13581789985">13581789985 (咨询)</li>
            <li class="li3"><a href="mailto:sales@webthink.com.cn">sales@webthink.com.cn</a></li>
        </ul>
    </div>
    <div class="contact-r">

        <form action="" class="contact-form" method="post">
            <div class="">
                <input type="text" class="inp l" name="name" id="name" placeholder="您的姓名">
                <input type="text" class="inp r" name="tel" id="tel" placeholder="您的联系方式">
            </div>
            <textarea cols="30" rows="10" name="txt_con" id="txt"></textarea>
            <input type="submit" value="提交您的需求" class="sub" id="sub">
        </form>
    </div>

    <%- partial('_partial/script') %>

    <script>
        $('.team .flexslider').flexslider({
            animation: "slide",
            animationLoop: true,
            slideshow: false,
            prevText: "",
            nextText: "",
            controlNav: false,
            directionNav: true,
            pauseOnHover: true,
            slideshowSpeed: 3000,
            start: function (slider) {

            },
            before: function () {
                $('.flexslider').resize();
            },
            after: function (slider) {
                initState();
                move();
            }
        });
        function initState() {
            $('.team .animated').each(function () {
                var dataAnimate = $(this).data('animate');
                $(this).removeClass(dataAnimate);
            })
        }
        function move() {
            var curSlide = $('.team .slides li.flex-active-slide');
            var h3 = curSlide.find('h3'),
                p = curSlide.find('p'),
                img = curSlide.find('img');
            h3.addClass(h3.data('animate'));
            p.addClass(p.data('animate'));
            img.each(function () {
                $(this).addClass($(this).data('animate')).css({ 'animation-delay': $(this).data('delay') + 's' });
            })
        }
        $(window).load(function () {
            move();
        })
    </script>