<div id="fd" class="index-fd pr">
  <div class="fd-top container">
    <div class="row">
      <dl class="col-sm">
        <dt><%= theme.footer.about.title %></dt>
        <dd>
          <ul class="ul-fd">
            <%- footerItems(theme.footer.about.items, config.url) %>
          </ul>
        </dd>
      </dl>
      <dl class="col-sm">
        <dt><%= theme.footer.product.title %></dt>
        <dd>
          <ul class="ul-fd">
            <%- footerItems(theme.footer.product.items, config.url) %>
          </ul>
        </dd>
      </dl>
      <dl class="col-sm">
        <dt><%= theme.footer.service.title %></dt>
        <dd>
          <ul class="ul-fd">
            <%- footerItems(theme.footer.service.items, config.url) %>
          </ul>
        </dd>
      </dl>
      <dl class="col-sm">
        <dt><%= theme.footer.update.title %></dt>
        <dd>
          <ul class="ul-fd">
            <li><a href="">公司动态</a></li>
          </ul>
        </dd>
      </dl>
      <dl class="col-sm">
        <dt><%= theme.footer.contact.title %></dt>
        <dd class="pr">
          <!-- <p><a href="" class="weixin"></a><a href="" class="sina"></a><span class="weixin-pic"><img
                src="/images/ewm.jpg" alt=""></span></p> -->
          <p><b class="tel">400-008-0408</b></p>
          <h5><%= theme.corp.name %>服务热线</h5>
        </dd>
      </dl>
    </div>
  </div>
  <div class="fd-copy d-none d-sm-block">
    <p style="margin: 0 1rem;">
      <span><%= theme.corp.nameFull %> Copyright &copy; <%= theme.since + "-" + new Date().getFullYear() %> </span><a
        href=""><span>京ICP备07017583号-1</span></a>
    </p>
  </div>
  <div class="fd-copy d-block d-sm-block d-md-none" style="height: 80px;">
    <p style="margin: 0 1rem; display: flex; flex-direction: column;">
      <span><%= theme.corp.nameFull %> Copyright &copy; <%= theme.since + "-" + new Date().getFullYear() %> </span>
      <a href=""><span>京ICP备07017583号-1</span></a>
    </p>
  </div>
</div>